@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&family=Poppins:wght@400;500&display=swap');
:root{
	--font-family-nav: 'Josefin Sans', sans-serif;
	--font-family-content: 'Poppins', sans-serif;
}

/* resetting margin padding etc */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	overflow-y: scroll;
}

body {
	font-family: sans-serif;
}

a {
	text-decoration: none;
}

p {
  font-family: var(--font-family-content);
}

h1,h2,h3,h4,h5 {
  font-family: var(--font-family-content);
}

section	{
	max-width: 960px;
	margin: auto;
	padding-top: 80px; 
}
/* styling the navigation */
.container {
	max-width: 960px;
	height: 3rem;
	margin: auto;
	position: sticky;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,1);
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title-nav a {
	font-weight: 600;
	font-size: 1.3rem;
	color: white;
	margin-left: 20px;
	font-family: var(--font-family-nav);
}

.nav-ul {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.4rem;
	margin-right: 20px;
	list-style: none;
}

.nav-li a {
	font-family: var(--font-family-nav);
	font-weight: 500;
	color: white;
	font-size: 1rem;
}

.nav-mobile {
	display: none;
	position: absolute;
	top: 1.1rem;
	right: .7rem
}

.hamburger-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 4px;
	cursor: pointer;
}

.hamburger-btn * {
	width: 18px;
	height: 2px;
	background-color: white;
	transition: 0.6s ease;
}
.rotate .btn-1 {
	transform: rotate(45deg) translate(5px, 2px);
}
.rotate .btn-2 {
	opacity: 0;
}
.rotate .btn-3 {
	transform: rotate(-45deg) translate(6px,-4px);
}

/* end of navigation */


/* Section Home */
#home {
  height: 480px;
  width: 100%;
  background: url('/src/bg-home.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.hero-image img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 30px;
}

.hero-title h3 {
  font-family: var(--font-family-content);
  font-weight: 600;
  font-size: 1.8rem;
  letter-spacing: 2px;
  color: white;
}

.hero-title p {
  font-family: var(--font-family-content);
  font-weight: 400;
  font-size: .75rem;
  color: white;
  margin-bottom: 40px;
}
/* end of home section */

/* about section */
.about-container {
  text-align: center;
}

.about-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;
  margin-top: 30px;
}

.card {
  width: 280px;
  height: 190px;
  padding: 40px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #EAEAEA;
  border-radius: 6px;
}

.card h5 {
  margin: 10px 0;
}

.card p {
  max-width: 90%;
  margin: auto;
}
/* end of about section */

/* content section */
#content {
  padding-bottom: 70px;
}
.content-container {
  text-align: center;
}

.content-images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.content-img {
  max-width: 80%;
  margin-top: 30px;
  display: flex;
  text-align: start;
  flex-direction: column;
}

.content-img p {
  max-width: 280px;
  margin-top: 10px;
}

.content-img img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* end of content sectiom */

/* contact section */
#contact {
  height: 380px;
  width: 100%;
  background: url("/src/bg-contact.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.contact-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.4rem;
}

.circle-contact {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.circle-contact h5 {
  color: white;
  margin-bottom: 10px;
}

.circle-contact a {
  font-size: 0.4rem;
  color: white;
}

.image-contact {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: white;
}

.image-contact img {
  width: 24px;
}

/* end of contact section */

/* footer */
footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 960px;
  height: 20px;
  margin: auto;
  background-color: white;
}

.footer p {
  color: black;
  font-size: 0.5rem;
}

.footer img {
  width: 8px;
  margin-left: 4px;
}

button {
  margin-top: 70px;
  padding: 6px 24px;
  font-size: 0.4rem;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid white;
  cursor: pointer;
}

button a {
  color: white;
}
/* Break Points Navigation mobile */
@media screen and (max-width: 480px){
	.nav-mobile {
		display: block;
		z-index: 999;
	}
	.nav-menu {
		position: fixed;
		top: 0;
		right: -100%;
		width: 90%;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100vh;
		z-index: 100;
		transition: 0.8s ease-in-out;
		background: rgba(0,0,0,0.8);
		backdrop-filter: blur(4px);
	}
	.show-nav {
		right: 0;
	}
	.nav-ul {
		align-items: center;
		text-align: center;
		flex-direction: column;
		gap: 2.7rem;
	}
	.nav-li a {
		color: white;
		text-transform: uppercase;
	}
}

@media screen and (max-width: 900px) {
  	
	/* about section */
  .card {
    width: 80%;
    height: 190px;
  }
	.about-cards {
	  flex-direction: column;
	}
	
	/* content section */
  .content-img p {
    max-width: 80%;
    margin-top: 10px;
  }
  
  .content-img img {
    margin: auto;
    border-radius: 10px;
    margin-bottom: 10px;
  }
	.content-images {
	  flex-direction: column;
	  gap: 20px;
	}
}